In [3]:
from fredapi import Fred
import pandas as pd

API_KEY = "3f1503b6e6505eac9263724b8e59695e"
fred = Fred(api_key=API_KEY)

cpi = fred.get_series("CPIAUCSL")
cpi.head()

1947-01-01    21.48
1947-02-01    21.62
1947-03-01    22.00
1947-04-01    22.00
1947-05-01    21.95
dtype: float64

In [4]:
series = {
"CPI": "CPIAUCSL",
"UnemploymentRate": "UNRATE",
"FedFundsRate": "FEDFUNDS"
}

In [5]:
df = pd.DataFrame({name: fred.get_series(code) for name, code in series.items()})
df.tail()

                CPI  UnemploymentRate  FedFundsRate
2025-06-01  321.500               4.1          4.33
2025-07-01  322.132               4.2          4.33
2025-08-01  323.364               4.3          4.33
2025-09-01  324.368               NaN          4.22
2025-10-01      NaN               NaN          4.09